-i https://pypi.org/simple
cffi==1.14.6
chardet==4.0.0; python_version > '3.0'
coloredlogs==15.0.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
cryptography==3.4.7; python_version >= '3.6'
humanfriendly==9.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
img2pdf==0.4.1
importlib-metadata==4.6.1; python_version < '3.8'
lxml==4.6.3; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
ocrmypdf==12.3.0
pdfminer.six==20201018; python_version >= '3.4'
pikepdf==2.15.1; python_version >= '3.6'
pillow==8.3.1; python_version >= '3.6'
pluggy==0.13.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pycparser==2.20; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
reportlab==3.5.68; python_version >= '2.7' and python_version < '4'
sortedcontainers==2.4.0
tqdm==4.61.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
typing-extensions==3.10.0.0; python_version < '3.8'
zipp==3.5.0; python_version >= '3.6'
